* {
    box-sizing: border-box;
  }

   .login-container{ 
    margin:0;
    padding:0;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    
    

  .sign-in{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px 20px;
    background:none;
    width: 300px;
    height:400px;
    color:white;
    margin:0px 0px;
    }
  
    .sign-in h1{
    display:flex;
    justify-content: center;
    border-bottom: 3px solid #02C39A;
  }

  .text-field{
    width:100%;
    overflow: hidden;
    font-size:30px;
    padding:8px 0;
    display: flex;
    align-items: center;
    margin:8px 0;
  }
  .text-field PersonIcon,LockIcon,VisibilityIcon{
    margin:0px ;
    padding:0px ;
    background: none;
    text-align: center;
    border-bottom: 1px solid;

  }
  .text-field input{
    width:100%;
    border:none;
    outline:none;
    background: none;
    font-size: 60%;
    margin:10px;
    border-bottom: 1px solid;
  }

  .button{
    width:100%;
    background: none;
    border:2px solid #02C39A;
    padding:5px;
    font-size:100%;
    cursor:pointer;
    margin:30px 0px;
    border-radius: 5px;
    text-align: center;
   }
   

   .quick-sign-in{
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-direction: row;
     font-size: 40px;
     cursor:pointer;
     }
     
   .forgot-password{
     display:flex;
     justify-content: flex-end;
     align-items: center;
     font-size: 15px;
     text-decoration:none;
     border-bottom: none;
     margin:00px 0px;
     padding:00px 0px;
     border:0px;
    
   }
   a{
     text-decoration: none;
     color:rgb(159, 192, 241);
   }

   a:hover{
     color:rgb(3, 134, 248);
   }

   .sign-up{
     font-size: 15px;
     display:flex;
     margin:0px 0px;
     padding: 0px 0px;
     background: none;
   }
  }

  
      
  
 

/* 
input{
    font-size: 100%;
    width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
     color:grey
} */

/* .button{
    font-size:90%;
    background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  
}
button:hover{
    background-color: #45a049;
} */